{
  "presets": [
    [
      "env",
      {
        "targets": {
          "safari": 9,
          "chrome":48
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-es2015-spread",
    "transform-export-extensions",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-class-properties",
    "external-helpers"
  ]
}
